@{
    ViewData["Title"] = "Нашата история";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-5 my-5 border custom-font">
<section>
<center>
<h2>Идеята ни</h2>
<hr>
</center>
        <p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">Създадохме уеб магазин,посветен на българската фолклорна мода и аксесоарите към нея. </span></p>
        <p class="v1p1"><span class="v1s1" style="color: black;">В него всеки има възможност да открие автентични български дрехи, вдъхновени от традиционния български стил, както и разнообразие от аксесоари, които допълват визията. </span></p>
        <p class="v1p1">
            <span class="v1s1" style="color: black;"> Нашата цел е да не предлагаме само качествени продукти, но и да създадем пространство, в което клиентите да се запознаят с богатството на българския фолклор. Всяка дреха, която предлагаме, е съпроводена с информация относно нейното произходно място в България, за да предоставим по-дълбоко разбиране и интерес към културното наследство на страната.
            </span>
        </p>
 
    <center>
<h2>Качество и производство на продуктите</h2>
<hr>
</center>
        <p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">Нашият ангажимент към качеството е безкомпромисен, а всеки един от нашите продукти е изработен с максимално внимание към всеки детайл.</span></p>
        <p class="v1p1"><span class="v1s1" style="color: black;">Предлагаме висококачествени артикули, които са пълно отражение на българската автентичност и богатство на нашите традиции.</span></p>
<p class="v1p1"><span class="v1s1" style="color: black;">С гордост можем да кажем, че всеки един продукт е направен ръчно, а материалите необходими за него са изцяло произведени в България.</span></p>
 
 
    <center>
<h2>Нашите ценности</h2>
<hr>
</center>
<p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">Вярваме в българското производство и качеството, което предлага то.</span></p>
<p class="v1p1"><span class="v1s1" style="color: black;">С гордост можем да кажем, че с всеки изминал ден нашите продукти радват все повече хора, които са доволни не само от тяхната визия, но и от тяхното качество. Ние сме щастливи, защото успяваме да запазим уникалността и красотата на българските фолклорни дрехи и аксесоари.</span></p>
</section>
 
<center>
<h9>
<div dir="auto" color: black;">Магията на България</div>
</h9>
</center>
</div>
</div>
 
</html>
